In [1]:
import pandas as pd

sales = [100,130,119,92,35]
customer_account = ['B100','J101','X102','P103','R104']
city = ['BOS','LA','NYC','SF','CHI']

df = pd.DataFrame({
    'sales': sales,
    'customer_account': customer_account,
    'city': city
})


df.columns[0]

df.sort_values('city', ascending=False)

df.iloc[-1]

sales                 35
customer_account    R104
city                 CHI
Name: 4, dtype: object

In [2]:
%%writefile sales_full.csv
transaction_id,customer_id,product_name,quantity,price,sale_date
TXN001,CUST001,Laptop,1,999.99,2025-09-01
TXN002,CUST002,Mouse,2,25.50,2025-09-01
TXN003,CUST001,Keyboard,1,75.00,2025-09-02
TXN004,CUST003,Monitor,1,299.99,2025-09-02
TXN005,CUST002,Headphones,1,89.99,2025-09-03
TXN006,CUST003,Webcam,1,49.99,2025-09-03
TXN007,CUST001,Tablet,1,399.99,2025-09-04

Writing sales_full.csv

In [3]:
%%writefile _sales_new.json
[
  {
    "transaction_id": "TXN008",
    "customer_id": "CUST002",
    "product_name": "Speaker",
    "quantity": 1,
    "price": 79.99,
    "sale_date": "2025-09-05"
  },
  {
    "transaction_id": "TXN009",
    "customer_id": "CUST004",
    "product_name": "Phone",
    "quantity": 1,
    "price": 699.99,
    "sale_date": "2025-09-05"
  },
  {
    "transaction_id": "TXN010",
    "customer_id": "CUST003",
    "product_name": "Cable",
    "quantity": 3,
    "price": 15.99,
    "sale_date": "2025-09-06"
  }
]

Writing _sales_new.json

In [4]:
%%writefile _sales_duplicate.json
[
  {
    "transaction_id": "TXN008",
    "customer_id": "CUST002",
    "product_name": "Speaker",
    "quantity": 1,
    "price": 79.99,
    "sale_date": "2025-09-05"
  },
  {
    "transaction_id": "TXN009",
    "customer_id": "CUST004",
    "product_name": "Phone",
    "quantity": 1,
    "price": 699.99,
    "sale_date": "2025-09-05"
  },
  {
    "transaction_id": "TXN010",
    "customer_id": "CUST003",
    "product_name": "Cable",
    "quantity": 3,
    "price": 15.99,
    "sale_date": "2025-09-06"
  },
  {
    "transaction_id": "TXN011",
    "customer_id": "CUST002",
    "product_name": "Charger",
    "quantity": 1,
    "price": 30.99,
    "sale_date": "2025-09-08"
  },
  {
    "transaction_id": "TXN012",
    "customer_id": "CUST004",
    "product_name": "Charger",
    "quantity": 1,
    "price": 30.99,
    "sale_date": "2025-09-09"
  },
  {
    "transaction_id": "TXN013",
    "customer_id": "CUST003",
    "product_name": "Charger",
    "quantity": 1,
    "price": 30.99,
    "sale_date": "2025-09-09"
  }
]

Writing _sales_duplicate.json

In [6]:
# Load Full Load CSV
full_df = pd.read_csv("sales_full.csv")
print("Full Load Data (CSV):")
display(full_df)

Full Load Data (CSV):

  transaction_id customer_id product_name  quantity   price   sale_date
0         TXN001     CUST001       Laptop         1  999.99  2025-09-01
1         TXN002     CUST002        Mouse         2   25.50  2025-09-01
2         TXN003     CUST001     Keyboard         1   75.00  2025-09-02
3         TXN004     CUST003      Monitor         1  299.99  2025-09-02
4         TXN005     CUST002   Headphones         1   89.99  2025-09-03
5         TXN006     CUST003       Webcam         1   49.99  2025-09-03
6         TXN007     CUST001       Tablet         1  399.99  2025-09-04

In [7]:
inc1_df = pd.read_json("_sales_new.json")
inc2_df = pd.read_json("_sales_duplicate.json")

print("First Incremental Load (_sales_new.json):")
display(inc1_df)

print("Second Incremental Load (_sales_duplicate.json, with duplicates):")
display(inc2_df)

First Incremental Load (_sales_new.json):

  transaction_id customer_id product_name  quantity   price   sale_date
0         TXN008     CUST002      Speaker         1   79.99  2025-09-05
1         TXN009     CUST004        Phone         1  699.99  2025-09-05
2         TXN010     CUST003        Cable         3   15.99  2025-09-06

Second Incremental Load (_sales_duplicate.json, with duplicates):

  transaction_id customer_id product_name  quantity   price   sale_date
0         TXN008     CUST002      Speaker         1   79.99  2025-09-05
1         TXN009     CUST004        Phone         1  699.99  2025-09-05
2         TXN010     CUST003        Cable         3   15.99  2025-09-06
3         TXN011     CUST002      Charger         1   30.99  2025-09-08
4         TXN012     CUST004      Charger         1   30.99  2025-09-09
5         TXN013     CUST003      Charger         1   30.99  2025-09-09

In [8]:
merged_df = pd.concat([full_df, inc1_df, inc2_df], ignore_index=True)
print("Merged Dataset (Full + Incremental Batches):")
display(merged_df)

print("Total rows before removing duplicates:", len(merged_df))

Merged Dataset (Full + Incremental Batches):

   transaction_id customer_id product_name  quantity   price   sale_date
0          TXN001     CUST001       Laptop         1  999.99  2025-09-01
1          TXN002     CUST002        Mouse         2   25.50  2025-09-01
2          TXN003     CUST001     Keyboard         1   75.00  2025-09-02
3          TXN004     CUST003      Monitor         1  299.99  2025-09-02
4          TXN005     CUST002   Headphones         1   89.99  2025-09-03
5          TXN006     CUST003       Webcam         1   49.99  2025-09-03
6          TXN007     CUST001       Tablet         1  399.99  2025-09-04
7          TXN008     CUST002      Speaker         1   79.99  2025-09-05
8          TXN009     CUST004        Phone         1  699.99  2025-09-05
9          TXN010     CUST003        Cable         3   15.99  2025-09-06
10         TXN008     CUST002      Speaker         1   79.99  2025-09-05
11         TXN009     CUST004        Phone         1  699.99  2025-09-05
12         TXN010     CUST003        Cable         3   15.99  2025-09-06
13         TXN011     CUST002      Charger         1   30.99  2025-09-08
14         TXN012     CUST004      Charger         1   30.99  2025-09-09
15         TXN013     CUST003      Charger         1   30.99  2025-09-09

Total rows before removing duplicates: 16

In [9]:
clean_df = merged_df.drop_duplicates(subset="transaction_id")
print("Cleaned Data (No Duplicate Transactions):")
display(clean_df)

print("Total rows after removing duplicates:", len(clean_df))

Cleaned Data (No Duplicate Transactions):

   transaction_id customer_id product_name  quantity   price   sale_date
0          TXN001     CUST001       Laptop         1  999.99  2025-09-01
1          TXN002     CUST002        Mouse         2   25.50  2025-09-01
2          TXN003     CUST001     Keyboard         1   75.00  2025-09-02
3          TXN004     CUST003      Monitor         1  299.99  2025-09-02
4          TXN005     CUST002   Headphones         1   89.99  2025-09-03
5          TXN006     CUST003       Webcam         1   49.99  2025-09-03
6          TXN007     CUST001       Tablet         1  399.99  2025-09-04
7          TXN008     CUST002      Speaker         1   79.99  2025-09-05
8          TXN009     CUST004        Phone         1  699.99  2025-09-05
9          TXN010     CUST003        Cable         3   15.99  2025-09-06
13         TXN011     CUST002      Charger         1   30.99  2025-09-08
14         TXN012     CUST004      Charger         1   30.99  2025-09-09
15         TXN013     CUST003      Charger         1   30.99  2025-09-09

Total rows after removing duplicates: 13

In [10]:
clean_df["total_amount"] = clean_df["quantity"] * clean_df["price"]
display(clean_df)

C:\Users\aayushi.patil\AppData\Local\Temp\ipykernel_21484\2403580983.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df["total_amount"] = clean_df["quantity"] * clean_df["price"]

,transaction_id,customer_id,product_name,quantity,price,sale_date,total_amount
0,TXN001,CUST001,Laptop,1,999.99,2025-09-01,999.99
1,TXN002,CUST002,Mouse,2,25.50,2025-09-01,51.00
2,TXN003,CUST001,Keyboard,1,75.00,2025-09-02,75.00
3,TXN004,CUST003,Monitor,1,299.99,2025-09-02,299.99
4,TXN005,CUST002,Headphones,1,89.99,2025-09-03,89.99
5,TXN006,CUST003,Webcam,1,49.99,2025-09-03,49.99
6,TXN007,CUST001,Tablet,1,399.99,2025-09-04,399.99
7,TXN008,CUST002,Speaker,1,79.99,2025-09-05,79.99
8,TXN009,CUST004,Phone,1,699.99,2025-09-05,699.99
9,TXN010,CUST003,Cable,3,15.99,2025-09-06,47.97
13,TXN011,CUST002,Charger,1,30.99,2025-09-08,30.99
14,TXN012,CUST004,Charger,1,30.99,2025-09-09,30.99
15,TXN013,CUST003,Charger,1,30.99,2025-09-09,30.99

In [11]:
customer_summary = clean_df.groupby("customer_id")["total_amount"].sum().reset_index()
print("Customer-wise Total Amount Summary:")
display(customer_summary)

Customer-wise Total Amount Summary:

  customer_id  total_amount
0     CUST001       1474.98
1     CUST002        251.97
2     CUST003        428.94
3     CUST004        730.98

In [ ]:
print("Summary Statistics of the Cleaned Data:")
display(clean_df.describe())

Summary Statistics of the Cleaned Data:

        quantity       price  total_amount
count  13.000000   13.000000     13.000000
mean    1.230769  217.645385    222.066923
std     0.599145  309.644419    306.767763
min     1.000000   15.990000     30.990000
25%     1.000000   30.990000     47.970000
50%     1.000000   75.000000     75.000000
75%     1.000000  299.990000    299.990000
max     3.000000  999.990000    999.990000